{% extends "TheApp/base.html" %}
{% load static %}
{% block body_block %}


<h3 class="container" style="padding-top: 10px; margin-top:60px;">{{post.title}}</h3>
<br>
<div class="container">

<p>{{ post.text }}</p>
<p style="font-size:14px;"><span class="MyClass"> Created By:</span>  {{ post.author }}</p> <!-- פתרון לעיצוב חלק משורת הטקסט-->
<p style="font-size:14px;"><span class="MyClass"> Published On:</span>  {{ post.create_date }}</p>

</div>

<!-- כל משתמש מחובר יכול להוסיף תגובה -->
{% if user.is_authenticated %}
  <hr>
  <a class='btn btn-primary btn-comment' href="{% url 'TheApp:add_comment_to_post' pk=post.pk %}">Add Comment</a>


<!-- רק אם פוסט שייך למשתמש המחובר אז הוא יוכל לערוך או למחוק אותו -->
  {% if user == post.author %}

    <a class='btn btn-primary' href="{% url 'TheApp:post_edit' pk=post.pk %}">EDIT</a>

    <a class='btn btn-primary' href="{% url 'TheApp:post_remove' pk=post.pk %}">DELETE</a>

  {% endif %}
{% endif %}



<div class="container" style="padding-bottom: 130px; margin:auto;">
  {% for comment in post.comments.all %}
  <br>
  <p><b>Comments:</b></p>
  <p>{{comment.text|safe|linebreaks}}</p>
  <p style="font-size:14px;"><span class="MyClass"> Posted By:</span>  {{comment.author}}</p>
  <p style="font-size:14px;"><span class="MyClass"> Published On:</span>  {{comment.create_date}}</p>
  <br>

<!-- אם המשתמש מחובר והוא זה שכתב את התגובה או את הפוסט, הוא יהיה רשאי למחוק את התגובה -->
  {% if user.is_authenticated %}
    {% if user.username == comment.author or user == post.author %} <!-- כי פוסט.אוטור הוא למעשה מופע של User אז צריך להשוות את היוזר ולא את היוזר.שם -->

    <a class='btn btn-primary' href="{% url 'TheApp:comment_remove' pk=comment.pk %}">Remove</a>


  {% endif %}
{% endif %}
  {% empty %}
  <br>
  <p>No Comments</p>
  {% endfor %}


</div>

{% endblock %}
