{% extends "TheApp/base.html" %}
{% load static %}
{% load customfilters %}
{% block body_block %}
<h1 style="margin-bottom:20px; margin-top:60px; background-color:#e6e6e6;">New Post</h1>
<form method="POST">
  {% csrf_token %}
  <label class="MyClass">{{ form.title.label_tag }}</label>
  {{form.title}}
  <br>
  <label class="MyClass">{{ form.text.label_tag }}</label>
  {{form.text}}
  <br>
  <button type="submit" class='btn btn-primary' name="button">Save</button>
</form>
<!--<script>var editor = new MediumeEditor('.editable');</script>-->
<!-- משויך לפי השם שלו לCreateView -->
{% endblock %}
